@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --headerFont: "Poetsen One", sans-serif;
    --bodyFont: "Poppins", serif;
    --bgColor: #17202a;
}

* {
    font-family: var(--bodyFont);
}

body {
    background-color: var(--bgColor);
    color: white;
    font-size: 25px;
    font-family: var(--bodyFont);
    overflow-x: hidden;
}
@media only screen and (max-width: 450px) {
    body {
        overflow-x: hidden;
        font-size: 18px;
    }
}

#mainContainer {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 450px) {
    #mainContainer {
        overflow-x: hidden;
        width: 70vw;
    }
}

#top {
    display: flex;
    flex-direction: row;
    font-size: 52px;
    font-family: var(--headerFont);
    color: #9575cd;
}
@media only screen and (max-width: 450px) {
    #top {
        font-size: 9vw;
        margin-bottom: -0.5em;
    }
}

#addSongContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #7e57c2;
    width: fit-content;
    border-radius: 20px;
}
#addSongContainer #addSong {
    width: 1.35em;
    height: 1.35em;
    font-size: 1.35em;
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: #7e57c2;
    color: lightgrey;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#addSongContainer:hover, #addSongContainer:focus  {
    cursor: pointer;
    box-shadow: 0px 0px 10px #7e57c2;
    background-color: #9575cd;
}
#addSongContainer:hover >  #addSong {
    background-color: #9575cd;
    cursor: pointer;
}
#addSongContainer p {
    margin: 0;
    margin-left: -1.5em;
    padding: 0.15em;
    padding-left: 1.55em;
    padding-right: 0.5em;
    border-radius: 20px;
}

#addModal {
    position: absolute;
    display: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    left: 0;
    top: 0;
    background-color: #0e141a;
    display: none;
    opacity: 0;
}
#addModal #close {
    position: absolute;
    right: 5em;
    top: 1em;
    background-color: #ef5350;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 100%;
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
}
@media only screen and (max-width: 450px) {
    #addModal #close {
        right: 1em;
        top: 1em;
    }
}
#addModal #close:hover {
    cursor: pointer;
}
#addModal #content {
    width: fit-content;
    height: fit-content;
    padding: 2em;
    background-color: #17202a;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border-radius: 20px;
}
@media only screen and (max-width: 450px) {
    #addModal #content {
        height: 75vh;
    }
}
#addModal #content #search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
    margin-left: -1.3em;
}
#addModal #content #search img {
    width: 0.75em;
    height: 0.75em;
    padding: 0.35em;
    border-radius: 100%;
    background-color: #9575cd;
}
#addModal #content #search img:hover, #addModal #content #search img:focus {
    cursor: pointer;
    box-shadow: 0px 0px 10px #9575cd;
}
#addModal #content #search input {
    margin: 0;
    margin-left: 0.5em;
    background-color: #121921;
    border: none;
    outline: none;
    padding: 0.5em;
    border-radius: 10px;
    font-size: 0.7em;
    color: white;
}
#addModal #content #results {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 0.5em;
    display: none;
    overflow: hidden;
}
#addModal #content #results div {
    display: flex;
    flex-direction: row;
    height: 1em;
    align-items: center;
    margin-bottom: 1.5em;
}
#addModal #content #results div button {
    width: 1.5em;
    height: 1.5em;
    font-size: 1em;
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: #7e57c2;
    color: lightgrey;
    font-weight: bold;
}
#addModal #content #results div button:hover, #addModal #content #results div button:focus {
    cursor: pointer;
    box-shadow: 0px 0px 10px #7e57c2;
    background-color: #9575cd;
}
@media only screen and (max-width: 450px) {
    #addModal #content #results div {
        margin-bottom: 1.5em;
    }
}
#addModal #content #results div img {
    width: 2em;
    height: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
@media only screen and (max-width: 450px) {
    #addModal #content #results div img {
        margin-left: 1em;
        margin-right: 1em;
    }
}

#main {
    display: flex;
    flex-direction: column;
}

#bottom {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--bgColor);
    box-shadow: 0px 0px 30px #0d1218;
}
@media only screen and (max-width: 450px) {
    #bottom {
        bottom: 0;
        overflow-x: hidden;
    }
}
#bottom .track p {
    font-weight: bold;
}
#bottom #at {
    margin-left: 2em;
    margin-right: -1.5em;
}
@media only screen and (max-width: 450px) {
    #bottom #at {
        margin-left: 0.5em;
        margin-right: -0.25em;
    }
}
#bottom #playingProgressContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: #d5d8dc;
    margin-left: 2em;
    width: 100%;
    height: 0.5em;
    border-radius: 10px;
    margin-right: 2em;
    justify-content: flex-start;
}
@media only screen and (max-width: 450px) {
    #bottom #playingProgressContainer {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}
#bottom #playingProgressContainer div {
    background-color: #7e57c2;
    width: 35%;
    height: 0.5em;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #7e57c2;
}
#bottom #remaining {
    margin-left: -1.5em;
    margin-right: 2em;
}
@media only screen and (max-width: 450px) {
    #bottom #remaining {
        margin-left: -0.25em;
        margin-right: 1em;
    }
}

.track {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}
.track img {
    width: 2em;
    height: 2em;
}
.track p {
    margin-left: 1em;
    justify-content: center;
    width: fit-content;
    white-space: nowrap;
}